.card {
    width: 50%;
    /* border: 1px solid #F48FB1; */
    /* border: 1px solid #42A5F5; */
    border: 1px solid #AB47BC;
    box-shadow: 0 1px 1px;
    margin: 100px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card img {
    width: 100%;
    margin: auto;
    padding-bottom: 2em;
}

.card h2 {
    text-align: left;
}

.answer {
    padding: 0.75em;
    text-align: left;
    border: 1px solid #ccc;
}

.answer p {
    margin: 0;
}

.answer:hover {
    background: #eee;
    cursor: pointer;
}

.correct {
    background: #eee;
    padding: 0.75em;
    text-align: left;
    border: 1px solid #ccc;
    border-left: 3px solid #8BC34A;
}

.wrong {
    background: #eee;
    padding: 0.75em;
    text-align: left;
    border: 1px solid #ccc;
    border-left: 3px solid #D81B60;  
}

.correct b {
    color: #8BC34A;
}

.wrong b {
    color: #D81B60;
}

.button {
    width: 8em;
    padding: 0.5em;
    border-radius: 0.3em;
    color: #eee;
    background: #7E57C2;
    margin: 2em auto;
    font-size: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}